/* Main settings */

body {
    font-family: Tahoma, Verdana, Arial;
}

p {
    font-size: 13px;
    color: #7e7d7d;
}

h1 {
    font-size: 23px;
    font-weight: normal!important;
    background: #eee;
    padding: 15px;
}

h2 {
    font-size: 18px;
    font-weight: normal!important;
    padding-top: 25px;
}

h3 {
    font-size: 18px;
    font-weight: normal!important;
    height: 20px;
}

h4 {
    font-size: 14px;
    font-weight: normal!important;
    color: #565454;
}

a {
    color: #2B343B;
    text-decoration: underline;
}

a:hover {
    color: #888F94;
}

.userinfo {
	color: #444;
	font-style: italic;
}

.topic {
	color: black;
	font-size: medium;
	border: thin solid black;
	padding: 3px;
	width: 500px;
}

.topic a {
	float: right;
	font-size: 13px;
	margin-left: 10px;
}

.topic .title {
	font-size: x-large;
	font-style: bold;
}
.topic .desc {
	font-size: x-small;
    padding-top: 20px;
    padding-bottom: 20px;
    font-style: italic;
    color: #aaa;
}

.topic .count {
	font-size: small;
	padding-top: 20px;
    padding-bottom: 20px;
    font-style: italic;
    color: #aaa;
}

#pagefooter {
	font-size: x-small;
	padding-top: 40px;
	font-style: italic;
	color: #aaa;
}

.closed {
	font-size: small;
	font-style: italic;
	color: #F00;
	padding: 5px;
}



.notification {
	color: green;
	font-size: medium;
	font-weight: bold;
}

.label {
	font-weight: bold;
}

div .chart {
  font: small;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 5px;
  color: white;
}